app/code/community/Magaya/Logistico/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magaya
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@logistico.com so we can send you a copy immediately.
 *
 *
 * @category   Integration
 * @package    Magaya_Logistico
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
     <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderListEntity">
               <all>
                  <element name="gift_message_body" type="xsd:string" minOccurs="0" /> 
                  <element name="shipping_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                  <element name="items" type="typens:salesOrderItemEntityArray" minOccurs="0" />
               </all>
            </complexType>
        </schema>
     </types>
    
    <message name="logisticoStoreTestConnectionRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="logisticoStoreTestConnectionResponse">
        <part name="result" type="xsd:boolean" />
    </message>
     <message name="logisticoSalesOrderSyncRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="logisticoSalesOrderSyncResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="logisticoOrderShipmentCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
        <part name="itemsQty" type="typens:orderItemIdQtyArray" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:int" />
        <part name="includeComment" type="xsd:int" />
    </message>
    <message name="logisticoOrderShipmentCreateResponse">
        <part name="shipmentIncrementId" type="xsd:string" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="logisticoOrdersList">
            <documentation>Retrieve list of orders by filters</documentation>
            <input message="typens:salesOrderListRequest" />
            <output message="typens:salesOrderListResponse" />
        </operation>
        <operation name="logisticoStoreTestConnection">
            <documentation>Test Logistico Store Connection</documentation>
            <input message="typens:logisticoStoreTestConnectionRequest" />
            <output message="typens:logisticoStoreTestConnectionResponse" />
        </operation>
        <operation name="logisticoOrdersSetAsSynced">
            <documentation>Mark an order as Synced with Logistico</documentation>
            <input message="typens:logisticoSalesOrderSyncRequest" />
            <output message="typens:logisticoSalesOrderSyncResponse" />
        </operation>
        <operation name="logisticoOrderShipmentCreate">
            <documentation>Create new shipment for order</documentation>
            <input message="typens:logisticoOrderShipmentCreateRequest" />
            <output message="typens:logisticoOrderShipmentCreateResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />     
        <operation name="logisticoStoreTestConnection">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="logisticoOrdersList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="logisticoOrdersSetAsSynced">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="logisticoOrderShipmentCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>

    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
