app/code/local/Av5/Customoapi/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderEntity">
                <all>
                    <element name="marketplace_id" type="xsd:string" minOccurs="0" />
                    <element name="marketplace" type="xsd:string" minOccurs="0" />
                    <element name="payment_infos" type="xsd:string" minOccurs="0" />
                    <element name="payment_transaction" type="xsd:string" minOccurs="0" />
                    <element name="vidalink_auth" type="xsd:string" minOccurs="0" />
                    <element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <element name="skyhub_plp" type="xsd:string" minOccurs="0" />
                    <element name="demonstrativo_vidalink" type="xsd:string" minOccurs="0" />
                    <element name="mundipagg_interest" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderListEntity">
                <all>
                    <element name="marketplace_id" type="xsd:string" minOccurs="0" />
                    <element name="marketplace" type="xsd:string" minOccurs="0" />
                    <element name="payment_infos" type="xsd:string" minOccurs="0" />
                    <element name="payment_transaction" type="xsd:string" minOccurs="0" />
                    <element name="vidalink_auth" type="xsd:string" minOccurs="0" />
                    <element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <element name="skyhub_plp" type="xsd:string" minOccurs="0" />
                    <element name="demonstrativo_vidalink" type="xsd:string" minOccurs="0" />
                    <element name="mundipagg_interest" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="CRM" type="xsd:string" minOccurs="0" />
                    <element name="UF" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
</definitions>
