app/code/local/Av5/Customoapi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderEntity">
                <xsd:sequence>
                    <xsd:element name="marketplace_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="marketplace" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_infos" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_transaction" type="xsd:string" minOccurs="0" />
                    <xsd:element name="vidalink_auth" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <xsd:element name="skyhub_plp" type="xsd:string" minOccurs="0" />
                    <xsd:element name="demonstrativo_vidalink" type="xsd:string" minOccurs="0" />
                    <xsd:element name="mundipagg_interest" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderListEntity">
                <xsd:sequence>
                    <xsd:element name="marketplace_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="marketplace" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_infos" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_transaction" type="xsd:string" minOccurs="0" />
                    <xsd:element name="vidalink_auth" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <xsd:element name="skyhub_plp" type="xsd:string" minOccurs="0" />
                    <xsd:element name="demonstrativo_vidalink" type="xsd:string" minOccurs="0" />
                    <xsd:element name="mundipagg_interest" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderItemEntity">
                <xsd:sequence>
                    <xsd:element name="CRM" type="xsd:string" minOccurs="0" />
                    <xsd:element name="UF" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
