app/code/local/Onestic/Vidalink/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="EstoqueItem">
                <xsd:sequence>
                    <xsd:element name="EAN" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Quantidade" type="xsd:int" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EstoqueItemArray">
            	<xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:EstoqueItem" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EstoqueItemRetorno">
                <xsd:sequence>
                    <xsd:element name="EAN" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Status" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EstoqueItemRetornoArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:EstoqueItemRetorno" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemConsulta">
                <xsd:sequence>
                    <xsd:element name="EAN" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Quantidade" type="xsd:int" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemConsultaArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:ItemConsulta" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RequisicaoConsulta">
                <xsd:sequence>
                    <xsd:element name="CEP" type="xsd:string" minOccurs="0" />
                    <xsd:element name="IdConsulta" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Itens" type="typens:ItemConsultaArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemConsultaRetorno">
                <xsd:sequence>
                    <xsd:element name="EAN" type="xsd:string" minOccurs="0" />
                    <xsd:element name="PercentualDesconto" type="xsd:double" minOccurs="0" />
                    <xsd:element name="Quantidade" type="xsd:double" minOccurs="0" />
                    <xsd:element name="Status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ValorUnitarioBruto" type="xsd:double" minOccurs="0" />
                    <xsd:element name="ValorUnitarioLiquido" type="xsd:double" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemConsultaRetornoArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:ItemConsultaRetorno" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultaRetorno">
                <xsd:sequence>
                    <xsd:element name="CEP" type="xsd:string" minOccurs="0" />
                    <xsd:element name="IdConsulta" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Itens" type="typens:ItemConsultaRetornoArray" minOccurs="0" />
                    <xsd:element name="UFEnvio" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ValorFrete" type="xsd:double" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Endereco">
                <xsd:sequence>
                    <xsd:element name="Apartamento" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Bairro" type="xsd:string" minOccurs="0" />
                    <xsd:element name="CEP" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Cidade" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Complemento" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Logradouro" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Numero" type="xsd:string" minOccurs="0" />
                    <xsd:element name="TipoLogradouro" type="xsd:string" minOccurs="0" />
                    <xsd:element name="UF" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Telefone">
                <xsd:sequence>
                    <xsd:element name="DDD" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Numero" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Cliente">
                <xsd:sequence>
                    <xsd:element name="CPF_CNPJ" type="xsd:string" minOccurs="0" />
                    <xsd:element name="DataNascimento" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Email" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Email2" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EnderecoEntrega" type="typens:Endereco" minOccurs="0" />
                    <xsd:element name="EnderecoPrincipal" type="typens:Endereco" minOccurs="0" />
                    <xsd:element name="InscricaoEstadual" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Nome" type="xsd:string" minOccurs="0" />
                    <xsd:element name="RG" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Sexo" type="xsd:string" minOccurs="0" />
                    <xsd:element name="TelefoneCelular" type="typens:Telefone" minOccurs="0" />
                    <xsd:element name="TelefoneComercial" type="typens:Telefone" minOccurs="0" />
                    <xsd:element name="TelefoneResidencial" type="typens:Telefone" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EmpresaCliente">
                <xsd:sequence>
                    <xsd:element name="CNPJ" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NomeFantasia" type="xsd:string" minOccurs="0" />
                    <xsd:element name="RazaoSocial" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemPedido">
                <xsd:sequence>
                    <xsd:element name="DataReceita" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EAN" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NomeRegistroConselhoRegional" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NumeroRegistroConselhoRegional" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Percentual" type="xsd:double" minOccurs="0" />
                    <xsd:element name="PrecoUnitario" type="xsd:double" minOccurs="0" />
                    <xsd:element name="Quantidade" type="xsd:double" minOccurs="0" />
                    <xsd:element name="TipoConselhoRegional" type="xsd:string" minOccurs="0" />
                    <xsd:element name="UFRegistroConselhoRegional" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ValorBruto" type="xsd:double" minOccurs="0" />
                    <xsd:element name="ValorPagoPaciente" type="xsd:double" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemPedidoArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:ItemPedido" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Pedido">
                <xsd:sequence>
                    <xsd:element name="AutorizacaoVidalink" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Cliente" type="typens:Cliente" minOccurs="0" />
                    <xsd:element name="ClienteRemessa" type="typens:Cliente" minOccurs="0" />
                    <xsd:element name="CPFAutorizacao" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Data" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Empresa" type="typens:EmpresaCliente" minOccurs="0" />
                    <xsd:element name="EntregaProgramadaFinal" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EntregaProgramadaInicial" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ForcarFreteZero" type="xsd:string" minOccurs="0" />
                    <xsd:element name="IdCotacao" type="xsd:string" minOccurs="0" />
                    <xsd:element name="IdPedido" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Itens" type="typens:ItemPedidoArray" minOccurs="0" />
                    <xsd:element name="Observacao" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Origem" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ReferenciaPedidoCliente" type="xsd:string" minOccurs="0" />
                    <xsd:element name="ValorAReceber" type="xsd:double" minOccurs="0" />
                    <xsd:element name="ValorFreteAReceber" type="xsd:double" minOccurs="0" />
                    <xsd:element name="ValorFreteAVista" type="xsd:double" minOccurs="0" />
                    <xsd:element name="ValorPagoAVista" type="xsd:double" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PedidoRetorno">
                <xsd:sequence>
                    <xsd:element name="IdRetornoPedido" type="xsd:int" minOccurs="0" />
                    <xsd:element name="StatusProcessamento" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Mensagem" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemPedidoConfirmacao">
                <xsd:sequence>
                    <xsd:element name="EAN" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Quantidade" type="xsd:int" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemPedidoConfirmacaoArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:ItemPedidoConfirmacao" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PedidoConfirmacao">
                <xsd:sequence>
                    <xsd:element name="AutorizacaoVidalink" type="xsd:string" minOccurs="0" />
                    <xsd:element name="CNPJ" type="xsd:string" minOccurs="0" />
                    <xsd:element name="DataVenda" type="xsd:string" minOccurs="0" />
                    <xsd:element name="IdPedido" type="xsd:string" minOccurs="0" />
                    <xsd:element name="Itens" type="typens:ItemPedidoConfirmacaoArray" minOccurs="0" />
                    <xsd:element name="ChaveAcessoNFe" type="xsd:string" minOccurs="0" />
                    <xsd:element name="NrPDV" type="xsd:string" minOccurs="0" />
                    <xsd:element name="VendaRealizada" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PedidoConfirmacaoArray">
            	<xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:PedidoConfirmacao" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PedidoConfirmacaoEntrega">
                <xsd:sequence>
                    <xsd:element name="AutorizacaoVidalink" type="xsd:string" minOccurs="0" />
                    <xsd:element name="DataEntrega" type="xsd:string" minOccurs="0" />
                    <xsd:element name="EntregaRealizada" type="xsd:string" minOccurs="0" />
                    <xsd:element name="HoraEntrega" type="xsd:string" minOccurs="0" />
                    <xsd:element name="IdPedido" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PedidoConfirmacaoEntregaArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:PedidoConfirmacaoEntrega" />
                </xsd:sequence>
            </xsd:complexType>
            <!-- PARAMS DECLARATION -->
            <!-- CONSULTAR ESTOQUE PRODUTOS -->
            <xsd:element name="consultarEstoqueProdutosRequestParam">
	            <xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="Itens" type="typens:EstoqueItemArray" />
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="consultarEstoqueProdutosResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:EstoqueItemRetornoArray" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>
	        <!-- CONSULTAR ESTOQUE PRODUTOS -->
	        <!-- CONSULTAR PRODUTOS -->
            <xsd:element name="consultarProdutosRequestParam">
	            <xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="Requisicao" type="typens:RequisicaoConsulta" />
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="consultarProdutosResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:ConsultaRetorno" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>
	        <!-- CONSULTAR PRODUTOS -->
	        <!-- ENVIAR PEDIDO -->
            <xsd:element name="enviarPedidoRequestParam">
            	<xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="Pedido" type="typens:Pedido" />
	                </xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="enviarPedidoResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:PedidoRetorno" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>
            <!-- ENVIAR PEDIDO -->
            <!-- CONSULTAR CONFIRMACAO PEDIDO -->
            <xsd:element name="consultarConfirmacaoPedidoRequestParam">
	            <xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="IdPedido" type="xsd:string" />
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="consultarConfirmacaoPedidoResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:PedidoConfirmacao" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>
	        <!-- CONSULTAR CONFIRMACAO PEDIDO -->
	        <!-- CONSULTAR CONFIRMACAO ENTREGA PEDIDO -->
            <xsd:element name="consultarConfirmacaoEntregaPedidoRequestParam">
	            <xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="IdPedido" type="xsd:string" />
	                </xsd:sequence>
	            </xsd:complexType>
			</xsd:element>	        
			<xsd:element name="consultarConfirmacaoEntregaPedidoResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:PedidoConfirmacaoEntrega" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>    
			<!-- CONSULTAR CONFIRMACAO ENTREGA PEDIDO -->
			<!-- CONSULTAR CONFIRMACAO PEDIDOS POR DATA -->
            <xsd:element name="consultarConfirmacaoPedidosPorDataRequestParam">
	            <xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="DataInicio" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xsd:string" />
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="consultarConfirmacaoPedidosPorDataResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:PedidoConfirmacaoArray" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>
	        <!-- CONSULTAR CONFIRMACAO PEDIDOS POR DATA -->
	        <!-- CONSULTAR ENTREGA PEDIDOS POR DATA -->
            <xsd:element name="consultarEntregaPedidosPorDataRequestParam">
	            <xsd:complexType>
	                <xsd:sequence>
	                	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="DataInicio" type="xsd:string" />
	                	<xsd:element minOccurs="1" maxOccurs="1" name="DataFinal" type="xsd:string" />
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="consultarEntregaPedidosPorDataResponseParam">
	            <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:PedidoConfirmacaoEntregaArray" />
                    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>
	        <!-- CONSULTAR ENTREGA PEDIDOS POR DATA -->
            <!-- END PARAMS DECLARATION -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="vidalinkConsultarEstoqueProdutosRequest">
		<wsdl:part name="parameters" element="typens:consultarEstoqueProdutosRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarEstoqueProdutosResponse">
        <wsdl:part name="parameters" element="typens:consultarEstoqueProdutosResponseParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarProdutosRequest">
        <wsdl:part name="parameters" element="typens:consultarProdutosRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarProdutosResponse">
        <wsdl:part name="parameters" element="typens:consultarProdutosResponseParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkEnviarPedidoRequest">
    	<wsdl:part name="parameters" element="typens:enviarPedidoRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkEnviarPedidoResponse">
        <wsdl:part name="parameters" element="typens:enviarPedidoResponseParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarConfirmacaoPedidoRequest">
    	<wsdl:part name="parameters" element="typens:consultarConfirmacaoPedidoRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarConfirmacaoPedidoResponse">
        <wsdl:part name="parameters" element="typens:consultarConfirmacaoPedidoResponseParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarConfirmacaoEntregaPedidoRequest">
        <wsdl:part name="parameters" element="typens:consultarConfirmacaoEntregaPedidoRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarConfirmacaoEntregaPedidoResponse">
        <wsdl:part name="parameters" element="typens:consultarConfirmacaoEntregaPedidoResponseParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarConfirmacaoPedidosPorDataRequest">
        <wsdl:part name="parameters" element="typens:consultarConfirmacaoPedidosPorDataRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarConfirmacaoPedidosPorDataResponse">
        <wsdl:part name="parameters" element="typens:consultarConfirmacaoPedidosPorDataResponseParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarEntregaPedidosPorDataRequest">
        <wsdl:part name="parameters" element="typens:consultarEntregaPedidosPorDataRequestParam" />
    </wsdl:message>
    <wsdl:message name="vidalinkConsultarEntregaPedidosPorDataResponse">
        <wsdl:part name="parameters" element="typens:consultarEntregaPedidosPorDataResponseParam" />
    </wsdl:message>
    
    <wsdl:portType name="{{var wsdl.handler}}PortType">
    	<wsdl:operation name="vidalinkConsultarEstoqueProdutos">
            <wsdl:documentation>Consulta Estoque dos Produtos</wsdl:documentation>
            <wsdl:input message="typens:vidalinkConsultarEstoqueProdutosRequest" />
            <wsdl:output message="typens:vidalinkConsultarEstoqueProdutosResponse" />
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarProdutos">
            <wsdl:documentation>Consulta Produtos</wsdl:documentation>
            <wsdl:input message="typens:vidalinkConsultarProdutosRequest" />
            <wsdl:output message="typens:vidalinkConsultarProdutosResponse" />
        </wsdl:operation>
        <wsdl:operation name="vidalinkEnviarPedido">
            <wsdl:documentation>Envia Pedido</wsdl:documentation>
            <wsdl:input message="typens:vidalinkEnviarPedidoRequest" />
            <wsdl:output message="typens:vidalinkEnviarPedidoResponse" />
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarConfirmacaoPedido">
            <wsdl:documentation>Consulta Confirmacao de Pedido</wsdl:documentation>
            <wsdl:input message="typens:vidalinkConsultarConfirmacaoPedidoRequest" />
            <wsdl:output message="typens:vidalinkConsultarConfirmacaoPedidoResponse" />
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarConfirmacaoEntregaPedido">
            <wsdl:documentation>Consulta Confirmacao de Entrega de Pedido</wsdl:documentation>
            <wsdl:input message="typens:vidalinkConsultarConfirmacaoEntregaPedidoRequest" />
            <wsdl:output message="typens:vidalinkConsultarConfirmacaoEntregaPedidoResponse" />
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarConfirmacaoPedidosPorData">
            <wsdl:documentation>Consulta Confirmacao de Pedidos por Data</wsdl:documentation>
            <wsdl:input message="typens:vidalinkConsultarConfirmacaoPedidosPorDataRequest" />
            <wsdl:output message="typens:vidalinkConsultarConfirmacaoPedidosPorDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarEntregaPedidosPorData">
            <wsdl:documentation>Consulta Entrega de Pedidos por Data</wsdl:documentation>
            <wsdl:input message="typens:vidalinkConsultarEntregaPedidosPorDataRequest" />
            <wsdl:output message="typens:vidalinkConsultarEntregaPedidosPorDataResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="vidalinkConsultarEstoqueProdutos">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarProdutos">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="vidalinkEnviarPedido">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarConfirmacaoPedido">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarConfirmacaoEntregaPedido">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarConfirmacaoPedidosPorData">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="vidalinkConsultarEntregaPedidosPorData">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
