app/code/local/RMO/Integrator/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="integratorEstimateShippingItemEntity">
                <all>
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="integratorEstimateShippingItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorEstimateShippingItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="integratorEstimateShippingResponseItemEntity">
                <all>
                    <element name="id" type="xsd:string" minOccurs="0" />
                    <element name="title" type="xsd:string" minOccurs="0" />
                    <element name="estimated_delivery" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="integratorEstimateShippingResponseItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorEstimateShippingResponseItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="integratorEstimateShippingPerItemResponseItemEntity">
                <all>
                    <element name="item" type="xsd:string" minOccurs="0" />
                    <element name="shipping_info" type="typens:integratorEstimateShippingResponseItemEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="integratorEstimateShippingPerItemResponseItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorEstimateShippingPerItemResponseItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="integratorCreateOrderEntity">
                <all>
                    <element name="skyhub_code" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="customer_email" type="xsd:string" minOccurs="0" />
                    <element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address" type="typens:integratorCreateOrderAddressEntity" minOccurs="0" />
                    <element name="billing_address" type="typens:integratorCreateOrderAddressEntity" minOccurs="0" />
                    <element name="items" type="typens:integratorCreateOrderItemEntityArray" minOccurs="0" />
                    <element name="customer_dob" type="xsd:string" minOccurs="0" />
                    <element name="customer_gender" type="xsd:string" minOccurs="0" />
                </all>
             </complexType>
             <complexType name="integratorUpdateOrderEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="skyhub_code" type="xsd:string" minOccurs="0" />
                    <element name="customer_email" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address" type="typens:integratorCreateOrderAddressEntity" minOccurs="0" />
                    <element name="billing_address" type="typens:integratorCreateOrderAddressEntity" minOccurs="0" />
                </all>
             </complexType>
             <complexType name="integratorCreateOrderItemEntity">
                <all>
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                    <element name="original_price" type="xsd:string" minOccurs="0" />
                    <element name="special_price" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="integratorCreateOrderItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorCreateOrderItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
             <complexType name="integratorCreateOrderAddressEntity">
                    <all>
                        <element name="firstname" type="xsd:string" minOccurs="0" />
                        <element name="lastname" type="xsd:string" minOccurs="0" />
                        <element name="company" type="xsd:string" minOccurs="0" />
                        <element name="street" type="xsd:string" minOccurs="0" />
                        <element name="neighborhood" type="xsd:string" minOccurs="0" />
                        <element name="number" type="xsd:string" minOccurs="0" />
                        <element name="complement" type="xsd:string" minOccurs="0" />
                        <element name="city" type="xsd:string" minOccurs="0" />
                        <element name="region" type="xsd:string" minOccurs="0" />
                        <element name="postcode" type="xsd:string" minOccurs="0" />
                        <element name="country_id" type="xsd:string" minOccurs="0" />
                        <element name="telephone" type="xsd:string" minOccurs="0" />
                        <element name="secondary_phone" type="xsd:string" minOccurs="0" />
                        <element name="fax" type="xsd:string" minOccurs="0" />
                        <element name="region" type="xsd:string" minOccurs="0" />
                        <element name="vat_number" type="xsd:string" minOccurs="0" />
                    </all>
                </complexType>
                <complexType name="integratorOrderEntity">
                    <all>
                        <element name="increment_id" type="xsd:string" minOccurs="0" />
                        <element name="parent_id" type="xsd:string" minOccurs="0" />
                        <element name="store_id" type="xsd:string" minOccurs="0" />
                        <element name="created_at" type="xsd:string" minOccurs="0" />
                        <element name="updated_at" type="xsd:string" minOccurs="0" />
                        <element name="is_active" type="xsd:string" minOccurs="0" />
                        <element name="customer_id" type="xsd:string" minOccurs="0" />
                        <element name="tax_amount" type="xsd:string" minOccurs="0" />
                        <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                        <element name="discount_amount" type="xsd:string" minOccurs="0" />
                        <element name="subtotal" type="xsd:string" minOccurs="0" />
                        <element name="grand_total" type="xsd:string" minOccurs="0" />
                        <element name="total_paid" type="xsd:string" minOccurs="0" />
                        <element name="total_refunded" type="xsd:string" minOccurs="0" />
                        <element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                        <element name="total_canceled" type="xsd:string" minOccurs="0" />
                        <element name="total_invoiced" type="xsd:string" minOccurs="0" />
                        <element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                        <element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                        <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                        <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                        <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                        <element name="base_subtotal" type="xsd:string" minOccurs="0" />
                        <element name="base_grand_total" type="xsd:string" minOccurs="0" />
                        <element name="base_total_paid" type="xsd:string" minOccurs="0" />
                        <element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                        <element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                        <element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                        <element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                        <element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                        <element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                        <element name="billing_address_id" type="xsd:string" minOccurs="0" />
                        <element name="billing_firstname" type="xsd:string" minOccurs="0" />
                        <element name="billing_lastname" type="xsd:string" minOccurs="0" />
                        <element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                        <element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                        <element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                        <element name="billing_name" type="xsd:string" minOccurs="0" />
                        <element name="shipping_name" type="xsd:string" minOccurs="0" />
                        <element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                        <element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                        <element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                        <element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                        <element name="weight" type="xsd:string" minOccurs="0" />
                        <element name="store_name" type="xsd:string" minOccurs="0" />
                        <element name="remote_ip" type="xsd:string" minOccurs="0" />
                        <element name="status" type="xsd:string" minOccurs="0" />
                        <element name="state" type="xsd:string" minOccurs="0" />
                        <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                        <element name="global_currency_code" type="xsd:string" minOccurs="0" />
                        <element name="base_currency_code" type="xsd:string" minOccurs="0" />
                        <element name="store_currency_code" type="xsd:string" minOccurs="0" />
                        <element name="order_currency_code" type="xsd:string" minOccurs="0" />
                        <element name="shipping_method" type="xsd:string" minOccurs="0" />
                        <element name="shipping_description" type="xsd:string" minOccurs="0" />
                        <element name="customer_email" type="xsd:string" minOccurs="0" />
                        <element name="customer_firstname" type="xsd:string" minOccurs="0" />
                        <element name="customer_lastname" type="xsd:string" minOccurs="0" />
                        <element name="quote_id" type="xsd:string" minOccurs="0" />
                        <element name="is_virtual" type="xsd:string" minOccurs="0" />
                        <element name="customer_group_id" type="xsd:string" minOccurs="0" />
                        <element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                        <element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                        <element name="email_sent" type="xsd:string" minOccurs="0" />
                        <element name="order_id" type="xsd:string" minOccurs="0" />
                        <element name="gift_message_id" type="xsd:string" minOccurs="0" />
                        <element name="gift_message" type="xsd:string" minOccurs="0" />
                        <element name="shipping_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                        <element name="billing_address" type="typens:integratorOrderAddressEntity" minOccurs="0" />
                        <element name="items" type="typens:salesOrderItemEntityArray" minOccurs="0" />
                        <element name="payment" type="typens:salesOrderPaymentEntity" minOccurs="0" />
                        <element name="status_history" type="typens:salesOrderStatusHistoryEntityArray" minOccurs="0" />
                        <element name="customer_dob" type="xsd:string" minOccurs="0" />
                        <element name="customer_gender" type="xsd:string" minOccurs="0" />
                    </all>
                </complexType>
                <complexType name="integratorOrderAddressEntity">
                    <all>
                        <element name="increment_id" type="xsd:string" minOccurs="0" />
                        <element name="parent_id" type="xsd:string" minOccurs="0" />
                        <element name="created_at" type="xsd:string" minOccurs="0" />
                        <element name="updated_at" type="xsd:string" minOccurs="0" />
                        <element name="is_active" type="xsd:string" minOccurs="0" />
                        <element name="address_type" type="xsd:string" minOccurs="0" />
                        <element name="firstname" type="xsd:string" minOccurs="0" />
                        <element name="lastname" type="xsd:string" minOccurs="0" />
                        <element name="company" type="xsd:string" minOccurs="0" />
                        <element name="street" type="xsd:string" minOccurs="0" />
                        <element name="city" type="xsd:string" minOccurs="0" />
                        <element name="region" type="xsd:string" minOccurs="0" />
                        <element name="postcode" type="xsd:string" minOccurs="0" />
                        <element name="country_id" type="xsd:string" minOccurs="0" />
                        <element name="telephone" type="xsd:string" minOccurs="0" />
                        <element name="fax" type="xsd:string" minOccurs="0" />
                        <element name="region_id" type="xsd:string" minOccurs="0" />
                        <element name="address_id" type="xsd:string" minOccurs="0" />
                        <element name="vat_number" type="xsd:string" minOccurs="0" />
                    </all>
                </complexType>
                <complexType name="integratorPaginationEntity">
                    <all>
                        <element name="curPage" type="xsd:string" minOccurs="0"/>
                        <element name="pageSize" type="xsd:string" minOccurs="0"/>
                    </all>
                </complexType>
                <complexType name="integratorStatusEntity">
                    <all>
                        <element name="state" type="xsd:string" minOccurs="0"/>
                        <element name="status" type="xsd:string" minOccurs="0"/>
                        <element name="status_label" type="xsd:string" minOccurs="0"/>
                    </all>
                </complexType>
                <complexType name="integratorListStatusEntityArray">
                    <complexContent>
                        <restriction base="soapenc:Array">
                            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorStatusEntity[]" />
                        </restriction>
                    </complexContent>
                </complexType>
                <complexType name="integratorConfigurableAttribute"> 
                    <all>
                        <element name="attribute_code" type="xsd:string"/>
                        <element name="attribute_name" type="xsd:string"/>
                    </all>
                </complexType>
                <complexType name="integratorConfigurableAttributeArray">
                    <complexContent>
                        <restriction base="soapenc:Array">
                            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorConfigurableAttribute[]" />
                        </restriction>
                    </complexContent>
                </complexType>
                <complexType name="integratorConfigurableProductVariation"> 
                    <all>
                        <element name="associated_product_sku" type="xsd:string"/>
                        <element name="associated_product_id" type="xsd:string"/>
                        <element name="weight" type="xsd:string"/>
                        <element name="image_urls" type="typens:ArrayOfString" minOccurs="0"/>
                        <element name="price" type="xsd:string" minOccurs="0"/>
                        <element name="special_price" type="xsd:string" minOccurs="0"/>
                        <element name="attributes" type="typens:associativeArray"/>
                    </all>
                </complexType>
                <complexType name="integratorConfigurableProductVariationArray"> 
                    <complexContent>
                        <restriction base="soapenc:Array">
                            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorConfigurableProductVariation[]" />
                        </restriction>
                    </complexContent>
                </complexType>
                <complexType name="integratorConfigurableAttributeArray">
                    <complexContent>
                        <restriction base="soapenc:Array">
                            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorConfigurableAttribute[]" />
                        </restriction>
                    </complexContent>
                </complexType>
                <complexType name="integratorBundleProductComponent"> 
                    <all>
                        <element name="associated_product_sku" type="xsd:string"/>
                        <element name="associated_product_qty" type="xsd:string"/>
                    </all>
                </complexType>
                <complexType name="integratorBundleProductComponentsArray"> 
                    <complexContent>
                        <restriction base="soapenc:Array">
                            <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorBundleProductComponent[]" />
                        </restriction>
                    </complexContent>
                </complexType>
                <complexType name="integratorProductReturnEntity">
                    <all>
                        <element name="attributes" type="typens:associativeArray" minOccurs="0"/>
                        <element name="multiselect_attributes" type="typens:associativeArray" minOccurs="0"/>
                        <element name="configurable_attributes" type="typens:integratorConfigurableAttributeArray" minOccurs="0"/>
                        <element name="variations" type="typens:integratorConfigurableProductVariationArray" minOccurs="0"/>
                        <element name="bundle_components" type="typens:integratorBundleProductComponentsArray" minOccurs="0"/>
                        <element name="image_urls" type="typens:ArrayOfString" minOccurs="0"/>
                        <element name="full_url" type="xsd:string" minOccurs="0"/>
                    </all>
            </complexType>
            <complexType name="integratorProductReturnEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:integratorProductReturnEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="integratorOrderEstimateShippingRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="postcode" type="xsd:string" />
        <part name="items" type="typens:integratorEstimateShippingItemEntityArray" />
    </message>
    <message name="integratorOrderEstimateShippingResponse">
        <part name="rates" type="typens:integratorEstimateShippingResponseItemEntityArray" />
    </message>
    <message name="integratorOrderEstimateShippingPerItemResponse">
        <part name="rates" type="typens:integratorEstimateShippingPerItemResponseItemEntityArray" />
    </message>
    <message name="integratorOrderInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="integratorOrderInfoResponse">
        <part name="result" type="typens:integratorOrderEntity" />
    </message>
    <message name="integratorOrderInvoiceRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="skyhubCode" type="xsd:string" />
        <part name="status" type="xsd:string" />
    </message>
    <message name="integratorOrderInvoiceResponse">
        <part name="errors" type="xsd:ArrayOfString" />
    </message>
    <message name="integratorOrderListStatusRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="integratorOrderListStatusResponse">
        <part name="result" type="typens:integratorListStatusEntityArray" />
    </message>
    <message name="integratorOrderCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="storeCode" type="xsd:string" />
        <part name="order" type="typens:integratorCreateOrderEntity" />
    </message>
    <message name="integratorOrderUpdateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="order" type="typens:integratorUpdateOrderEntity" />
    </message>
    <message name="integratorOrderCreateResponse">
        <part name="errors" type="xsd:ArrayOfString" />
    </message>
    <message name="integratorOrderUpdateResponse">
        <part name="errors" type="xsd:ArrayOfString" />
    </message>
    <message name="integratorOrderPaymentMethodsRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="integratorOrderPaymentMethodsResponse">
        <part name="paymentMethods" type="typens:associativeArray" />
    </message>
    <message name="integratorOrderShippingMethodsRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="integratorOrderShippingMethodsResponse">
        <part name="shippingMethods" type="typens:associativeArray" />
    </message>
    <message name="integratorProductListCreatedRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="curPage" type="xsd:string" />
        <part name="pageSize" type="xsd:string" />
    </message>
    <message name="integratorProductListCreatedResponse">
        <part name="result" type="typens:integratorProductReturnEntityArray" />
    </message>
    <message name="integratorProductUrlsRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="skus" type="typens:ArrayOfString" />
    </message>
    <message name="integratorProductUrlsResponse">
        <part name="urls" type="typens:associativeArray" />
    </message>
    <message name="integratorProductItemsRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="storeCode" type="xsd:string" />
        <part name="updatedFrom"   type="xsd:string" />
        <part name="attributeSet"  type="xsd:string" />
    </message>
    <message name="integratorProductItemsPagedRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="storeCode" type="xsd:string" />
        <part name="curPage" type="xsd:string" />
        <part name="pageSize" type="xsd:string" />
        <part name="updatedFrom"   type="xsd:string" />
        <part name="attributeSet"  type="xsd:string" />
        <part name="getVariationPrices"  type="xsd:string" />
    </message>
    <message name="integratorProductItemsResponse">
        <part name="result" type="typens:integratorProductReturnEntityArray" />
    </message>
    <message name="integratorProductListDeletedRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="curPage" type="xsd:string" />
        <part name="pageSize" type="xsd:string" />
    </message>
    <message name="integratorProductImportCsvRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="csv" type="xsd:string" />
        <part name="shouldIndex" type="xsd:boolean" />
    </message>
    <message name="integratorProductImportCsvResponse">
        <part name="errors" type="xsd:ArrayOfString" />
    </message>
    
    <message name="integratorProductListDeletedResponse">
        <part name="deletedSkus" type="typens:ArrayOfString" />
    </message>
    <message name="integratorProductListCountRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="integratorProductListCountResponse">
        <part name="count" type="xsd:string" />
    </message>
    <message name="integratorProductConfirmListReceivedRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="receivedSkus" type="typens:ArrayOfString" />
    </message>
    <message name="integratorProductConfirmListReceivedResponse">
        <part name="result" type="xsd:string" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="integratorOrderListShipments">
            <documentation>Retrieve list of shipments by filters</documentation>
            <input message="typens:salesOrderShipmentListRequest" />
            <output message="typens:salesOrderShipmentListResponse" />
        </operation>
        <operation name="integratorOrderEstimateShipping">
            <documentation>Estimate Shipping</documentation>
            <input message="typens:integratorOrderEstimateShippingRequest" />
            <output message="typens:integratorOrderEstimateShippingResponse" />
        </operation>
        <operation name="integratorOrderEstimateShippingPerItem">
            <documentation>Estimate Shipping Per Item</documentation>
            <input message="typens:integratorOrderEstimateShippingRequest" />
            <output message="typens:integratorOrderEstimateShippingPerItemResponse" />
        </operation>
        <operation name="integratorOrderInfo">
            <documentation>Retrieve order information</documentation>
            <input message="typens:integratorOrderInfoRequest" />
            <output message="typens:integratorOrderInfoResponse" />
        </operation>
        <operation name="integratorOrderInvoice">
            <documentation>Invoice a order</documentation>
            <input message="typens:integratorOrderInvoiceRequest" />
            <output message="typens:integratorOrderInvoiceResponse" />
        </operation>
        <operation name="integratorOrderCreate">
            <documentation>Create new Order</documentation>
            <input message="typens:integratorOrderCreateRequest" />
            <output message="typens:integratorOrderCreateResponse" />
        </operation>
        <operation name="integratorOrderUpdate">
            <documentation>Update an Order</documentation>
            <input message="typens:integratorOrderUpdateRequest" />
            <output message="typens:integratorOrderUpdateResponse" />
        </operation>
        <operation name="integratorOrderListStatus">
            <documentation>Retrieve Magento status list</documentation>
            <input message="typens:integratorOrderListStatusRequest" />
            <output message="typens:integratorOrderListStatusResponse" />
        </operation>
        <operation name="integratorOrderPaymentMethods">
            <documentation>Retrieve Payment Methods list</documentation>
            <input message="typens:integratorOrderPaymentMethodsRequest" />
            <output message="typens:integratorOrderPaymentMethodsResponse" />
        </operation>
        <operation name="integratorOrderShippingMethods">
            <documentation>Retrieve Shipping Methods list</documentation>
            <input message="typens:integratorOrderShippingMethodsRequest" />
            <output message="typens:integratorOrderShippingMethodsResponse" />
        </operation>
        <operation name="integratorProductListCreated">
            <documentation>Returns the created products</documentation>
            <input message="typens:integratorProductListCreatedRequest" />
            <output message="typens:integratorProductListCreatedResponse" />
        </operation>
        <operation name="integratorProductItems">
            <documentation>Returns the available products</documentation>
            <input message="typens:integratorProductItemsRequest" />
            <output message="typens:integratorProductItemsResponse" />
        </operation>
        <operation name="integratorProductItemsPaged">
            <documentation>Returns the available products</documentation>
            <input message="typens:integratorProductItemsPagedRequest" />
            <output message="typens:integratorProductItemsResponse" />
        </operation>
        <operation name="integratorProductUrls">
            <documentation>Returns product's urls</documentation>
            <input message="typens:integratorProductUrlsRequest" />
            <output message="typens:integratorProductUrlsResponse" />
        </operation>
        <operation name="integratorProductListUpdated">
            <documentation>Returns the updated products</documentation>
            <input message="typens:integratorProductListCreatedRequest" />
            <output message="typens:integratorProductListCreatedResponse" />
        </operation>
        <operation name="integratorProductListUpdated">
            <documentation>Returns the updated products</documentation>
            <input message="typens:integratorProductListCreatedRequest" />
            <output message="typens:integratorProductListCreatedResponse" />
        </operation>
        <operation name="integratorProductListDeleted">
            <documentation>Returns the deleted product's skus</documentation>
            <input message="typens:integratorProductListDeletedRequest"/>
            <output message="typens:integratorProductListDeletedResponse"/>
        </operation>
        <operation name="integratorProductImportCsv">
            <documentation>Re"ceives csv file to be imported</documentation>
            <input message="typens:integratorProductImportCsvRequest"/> 
            <output message="typens:integratorProductImportCsvResponse"/> 
        </operation>
        <operation name="integratorProductListCreatedCount">
            <documentation>Returns the number of products created.</documentation>
            <input message="typens:integratorProductListCountRequest"/>
            <output message="typens:integratorProductListCountResponse"/>
        </operation>
        <operation name="integratorProductListUpdatedCount">
            <documentation>Returns the number of updated products</documentation>
            <input message="typens:integratorProductListCountRequest"/>
            <output message="typens:integratorProductListCountResponse"/>
        </operation>
        <operation name="integratorProductListDeletedCount">
            <documentation>Returns the number of deleted products</documentation>
            <input message="typens:integratorProductListCountRequest"/>
            <output message="typens:integratorProductListCountResponse"/>
        </operation>
        <operation name="integratorProductConfirmListCreatedReceived">
            <documentation>Confirms that the integrator has received the created products</documentation>
            <input message="typens:integratorProductConfirmListReceivedRequest"/>
            <output message="typens:integratorProductConfirmListReceivedResponse"/>
        </operation>
        <operation name="integratorProductConfirmListUpdatedReceived">
            <documentation>Confirms that the integrator has received the updated products</documentation>
            <input message="typens:integratorProductConfirmListReceivedRequest"/>
            <output message="typens:integratorProductConfirmListReceivedResponse"/>
        </operation>
        <operation name="integratorProductConfirmListDeletedReceived">
            <documentation>Confirms that the integrator has received the deleted products</documentation>
            <input message="typens:integratorProductConfirmListReceivedRequest"/>
            <output message="typens:integratorProductConfirmListReceivedResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="integratorOrderListShipments">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorOrderEstimateShipping">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation> 
        <operation name="integratorOrderEstimateShippingPerItem">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation> 
        <operation name="integratorOrderInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorOrderInvoice">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorOrderCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorOrderUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorOrderListStatus">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorOrderPaymentMethods">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
         <operation name="integratorOrderShippingMethods">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductListCreated">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductItems">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductItemsPaged">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductUrls">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductListUpdated">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
         <operation name="integratorProductListDeleted">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductImportCsv">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductListCreatedCount">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductListUpdatedCount">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductListDeletedCount">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductConfirmListCreatedReceived">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductConfirmListUpdatedReceived">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="integratorProductConfirmListDeletedReceived">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>